[Unit]
Description=Hotnews service
After=network.target

[Service]
User=lucian
Group=lucian
PIDFile=/home/lucian/hotnews/news.pid
RuntimeDirectory=uvicorn
WorkingDirectory=/home/lucian/hotnews
ExecStart=/home/lucian/hotnews/venv/bin/uvicorn main:app --uds news.socket
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=default.target

# sudo cp news.service /etc/systemd/system/news.service
# sudo systemctl daemon-reload
# sudo systemctl restart news.service
# start on boot
# sudo systemctl enable news.service
