{% extends 'base.html' %}

{% block main %}
    <div class="entry">
        <h4 class="title">How and why?</h4>
        <div class="text">
            <p>{{ brand }} fetches a curated list of RSS feeds and picks top article from each publication based on how many people shared, commented or liked it on Facebook.</p>
            <p>{{ brand }} is made for busy people who don't want to spent more than a few minutes getting the most important news of the day.</p>
        </div>
    </div>
    <div class="entry">
        <h4 class="title">Who and when?</h4>
        <div class="text">
            <p>{{ brand }} is product created by <a href="https://lucianmarin.com/products.php">Lucian Marin</a>. You might consider <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RZMPR9EL9VPPG">donating with PayPal</a> for all services provided for free.</p>
            <p>{{ brand }} started when I was <a href="https://twitter.com/lucianmarin/status/1000086132447686661">replying to Elon Musk</a> on Twitter that I can code Pravduh for him. After I exchanged a few DMs with him, I started to get hooked on the idea and after each code iteration it go closer to an actual product.</p>
        </div>
    </div>
    <div class="entry">
        <h4 class="title">Technology</h4>
        <div class="text">
            {{ brand }} is powered by Falcon web framework, Django ORM, feedparser, requests, BeautifulSoup, PostgreSQL, PgBouncer, Facebook API and Google feedburner for feed caching. It's hosted on a high frequency <a href="https://www.vultr.com/?ref=8538483-6G">Vultr cloud server</a>.
        </div>
    </div>
    <div class="entry">
        <h4 class="title">Disclaimer</h4>
        <div class="text">
            Links are cached for 48 hours then permanently erased. Content isn't cached at all, it's fetched when reading it. It's virtually impossible to keep content of all articles ever fetched.
        </div>
    </div>
    <div class="entry">
        <h4 class="title">Websites</h4>
        <div class="text">
            In alphabetical order: {{ ", ".join(sites) }}.
        </div>
    </div>
{% endblock %}
