{% extends 'base.html' %}

{% block main %}
    <div class="entry">
        <h4 class="title">How it works?</h4>
        <div class="summary">
            {{ brand }} fetches a bunch of relevant RSS feeds and ranks the links by the average score of shares, reactions and comments on Facebook. Additional services can improve the ranking of the news stories.
        </div>
    </div>
    <div class="entry">
        <h4 class="title">Who made it? Why? Donate?</h4>
        <div class="summary">
            {{ brand }} is product created by <a href="https://lucianmarin.com/products.php">Lucian Marin</a>. {{ brand }} is made for busy people who don't want to spent more than a few minutes getting the most important news of the day. You might consider <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RZMPR9EL9VPPG">donating</a> for all services provided for free.
        </div>
    </div>
    <div class="entry">
        <h4 class="title"> What's the tech stack?</h4>
        <div class="summary">
            {{ brand }} is powered by Falcon web framework, Django ORM, feedparser, requests, BeautifulSoup, PostgreSQL, PgBouncer and Facebook API.
        </div>
    </div>
    <div class="entry">
        <h4 class="title">What sites are monitored?</h4>
        <div class="summary">
            In alphabetical order: {{ ", ".join(sites) }}.
        </div>
    </div>
{% endblock %}
