{% extends 'base.jinja' %}

{% block menu %}
    <a class="{% if view == 'about' %}selected{% endif %}" href="{{ reverse('about') }}">
        About
    </a>
    <a class="{% if view == 'index' %}selected{% endif %}" href="{{ reverse('index') }}">
        Newscafe
    </a>
{% endblock %}

{% block main %}
    <div class="entry details">
        <h4 class="title">
            How it works?
        </h4>
        <div class="summary">
            Newscafe fetches a bunch of important RSS feeds and ranks the links by number of shares on Facebook. It can be much more with better sources and interesting metadata gathered from different services people use.
        </div>
    </div>
    <div class="entry details">
        <h4 class="title">
            Who made it? Why? Donate?
        </h4>
        <div class="summary">
            Newscafe is made by <a href="http://lucianmarin.com/">Lucian Marin</a>. It is part of Subcafe platform where the core app is a social network. Newscafe is made for busy people who don't want to spent more than a few minutes getting the most important news of the day. You might consider <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RZMPR9EL9VPPG">donating</a> for all services provided for free.
        </div>
    </div>
    <div class="entry details">
        <h4 class="title">
            What's the tech?
        </h4>
        <div class="summary">
            Newscafe is a Django app. It uses feedparser, Requests, Beautiful Soup, PostgreSQL, PgBouncer and Facebook API. PostgreSQL and PgBouncer is faster than Redis for distinct queries.
        </div>
    </div>
    <div class="entry details">
        <h4 class="title">
            What sites are monitored?
        </h4>
        <div class="summary">
            In alphabetical order: {{ ", ".join(sites) }}.
        </div>
    </div>
    <div class="entry details">
        <h4 class="title">
            API Endpoints
        </h4>
        <div class="small">
            <b>/api/top/</b>
        </div>
        <div class="summary">
            Top news ordered by number of Facebook shares.
        </div>
        <div class="small">
            <b>/api/recent/</b>
        </div>
        <div class="summary">
            Recent news ordered by time they were published.
        </div>
        <div class="small">
            <b>/api/read/id/</b>
        </div>
        <div class="summary">
            News story details, headers and paragraphs.
        </div>
    </div>
{% endblock %}
