{% extends 'base.jinja' %}

{% block main %}
    {% for article in articles %}
        {% include 'common/entry.jinja' %}
    {% else %}
        <div class="entry">
            <div class="summary">Processing content...</div>
        </div>
    {% endfor %}
{% endblock %}
