* { margin: 0; padding: 0; }

body { background-color: black; color: white; font-family: "Noto Sans", sans-serif; font-size: 13px; line-height: 20px; }

a { color: white; text-decoration: none; transition: color 0.2s; }

b, i { font-style: normal; font-weight: normal; }

.menu, .main, .footer { margin: 0 auto; max-width: 520px; padding: 0 20px; }

h5 { margin-top: 15px; }

h2 { font-size: 17px; font-weight: normal; letter-spacing: -1px; line-height: 20px; overflow: hidden; margin-bottom: 15px; }
h2 a { color: gray; display: block; float: left; margin-right: 10px; }
h2 a:last-child { margin-right: 0; }
h2 a.selected { color: white; }

.entry { padding-bottom: 10px; }

.title a:visited { color: lightgray; }

.small { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.small a, .small b { color: gray; display: block; float: left; margin-right: 5px; }
.small a:last-child, .small b:last-child { margin-right: 0; }

.summary { color: lightgray; }

.textual { color: lightgray; }
.textual p { padding-bottom: 10px; }

.footer { overflow: hidden; padding-bottom: 20px; }
.footer a, .footer b { color: gray; display: block; float: left; margin-right: 5px; padding: 5px 0; }
.footer a:first-child, .footer b:first-child { border-bottom: dimgray 5px solid; }
.footer a:last-child, .footer b:last-child { margin-right: 0; }

@font-face { font-family: "Noto Sans"; font-style: normal; font-weight: normal; src: url(notosans/regular.woff); }
@font-face { font-family: "Noto Sans"; font-style: normal; font-weight: bold; src: url(notosans/bold.woff); }
