* { margin: 0; padding: 0; }

body { background-color: white; color: black; font-family: "Noto Sans", sans-serif; font-size: 13px; line-height: 20px; }

a { color: black; text-decoration: none; transition: color 0.2s; }

b, i { font-style: normal; font-weight: normal; }

.menu, .main, .footer { margin: 0 auto; max-width: 520px; padding: 0 20px; }

h1 { font-size: 20px; line-height: 25px; overflow: hidden; margin: 15px 0; }
h1 a { color: silver; display: block; float: left; margin-right: 10px; }
h1 a:last-child { margin-right: 0; }
h1 a.selected { color: black; }

.details { padding-bottom: 10px; }

.compact { padding-bottom: 5px; }
.compact .title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.title a:visited { color: dimgray; }

.small { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.small a, .small b { color: silver; display: block; float: left; margin-right: 5px; }
.small a:last-child, .small b:last-child { margin-right: 0; }

.summary { color: dimgray; }

.textual { color: dimgray; }
.textual p { padding-bottom: 10px; }

.footer { overflow: hidden; padding-bottom: 20px; }
.footer a, .footer b { color: silver; display: block; float: left; margin-right: 5px; padding: 5px 0; }
.footer a:first-child, .footer b:first-child { border-bottom: gainsboro 5px solid; }
.footer a:last-child, .footer b:last-child { margin-right: 0; }

@font-face { font-family: "Noto Sans"; font-style: normal; font-weight: normal; src: url(notosans/regular.woff); }
@font-face { font-family: "Noto Sans"; font-style: normal; font-weight: bold; src: url(notosans/bold.woff); }
