<div class="entry">
    <h4 class="title">
        <a href="{{ article.url }}">{{ article.title }}</a>
    </h4>
    <div class="small">
        <a>{{ article.domain }}</a>
        <b>&bull;</b>
        <a>{{ article.pub | shortdate }} ago</a>
        <b>&bull;</b>
        <a href="/read/{{ article.base }}" rel="nofollow">read</a>
        {% if article.score %}
            <b>&bull;</b>
            <a>{{ article.reach }} reach</a>
        {% endif %}
    </div>
    {% if article.description %}
        <div class="summary">
            {{ article.description | truncate }}
        </div>
    {% endif %}
</div>
