<div class="entry">
    <div class="meta">
        <p>
            {% if view == 'read' %}
                <a onclick="listen(event)">listen</a>
            {% else %}
                <a href="/{{ article.base }}" rel="nofollow">
                    {{ article.domain | sitename }}
                </a>
            {% endif %}
        </p>
        <p>
            {% if article.score %}
                <b>{{ article.reach }}</b>
                <b>&frasl;</b>
            {% endif %}
            <b>{{ article.pub | shortdate }}</b>
        </p>
    </div>
    {% if view != 'read' %}
        <h4 class="title">
            <a href="{{ article.url }}">{{ article.title }}</a>
        </h4>
    {% endif %}
    {% if article.description %}
        <div class="summary">
            {{ article.description | truncate }}
        </div>
    {% endif %}
</div>
