*
    margin: 0
    padding: 0

html
    --col: 390px
    --read: 510px
    --small: 13px
    --regular: 14px
    --big: 20px
    --d: 0.2s
    --hl: yellow
    --white: #fff
    --whitesmoke: #f0f0f0
    --gainsboro: #d0d0d0
    --silver: #c0c0c0
    --gray: #808080
    --darkgray: #404040
    --almostblack: #202020
    --black: #000
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%

@media (prefers-color-scheme: dark)
    html
        --white: #000
        --whitesmoke: #141414
        --gainsboro: #282828
        --silver: #404040
        --gray: #808080
        --darkgray: #c0c0c0
        --almostblack: #e0e0e0
        --black: #fff

body
    background-color: var(--gray)
    color: var(--black)
    cursor: default
    font-family: "Route 159", sans-serif
    font-size: var(--regular)
    line-height: 20px

a
    color: var(--black)
    cursor: pointer
    text-decoration: none
    transition: color var(--d)

b, i
    font-style: normal
    font-weight: normal

h3
    font-size: var(--regular)
    font-weight: normal
    line-height: 15px

h2
    font-size: var(--big)
    line-height: 25px

.main
    display: grid
    grid-template-columns: calc(50% - var(--col)) var(--col) var(--col) calc(50% - var(--col))

.left, .right
    min-height: 100vh

.side.left
    background-color: var(--whitesmoke)

.side.right
    background-color: var(--white)

.column.left
    background-color: var(--whitesmoke)
    padding-right: 15px

.column.right
    background-color: var(--white)
    padding-left: 15px

.column
    h3
        margin-top: 15px
        a
            color: var(--gray)
    h2
        margin-bottom: 10px
        a
            color: var(--black)
    .entry
        border-bottom: var(--gainsboro) 1px solid
        margin-bottom: 9.5px
        padding-bottom: 9.5px
        &:last-child
            border: 0 none
    .small
        font-size: var(--small)
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
    .summary
        color: var(--gray)
        cursor: text
    .title
        a
            color: var(--black)
            &:visited
                color: var(--darkgray)
    .small
        color: var(--silver)
        a
            color: var(--gray)
        .done
            color: var(--silver)

.read
    display: grid
    grid-template-columns: calc(50% - var(--read) / 2 - 25px) 50px var(--read) calc(50% - var(--read) / 2 - 25px)

.pane.left
    background-color: var(--whitesmoke)
    .small
        position: sticky
        padding: 15px
        transform: rotate(180deg)
        writing-mode: vertical-lr
        top: 0
        left: 0
    .small a
        color: var(--gray)
    .small .done
        color: var(--silver)

.pane.right
    background-color: var(--white)
    padding: 0 15px
    h3
        margin-top: 15px
        a
            color: var(--gray)
    h2
        margin-bottom: 10px
        a
            color: var(--black)
    .entry
        margin: 10px 0
        .small
            a
                color: var(--gray)
            .done
                color: var(--silver)
    .text
        color: var(--black)
        cursor: text
        p
            margin-bottom: 10px
        u
            background-color: var(--hl)
            text-decoration: none

@media (max-width: 810px)
    .main
        grid-template-columns: 0 50% 50% 0
        .column.left, .column.right
            padding: 0 15px
    .read
        grid-template-columns: 0 40px calc(100% - 40px) 0
        .pane.left
            .small
                padding: 15px 10px
        .pane.right
            padding: 0 4%
    .summary
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

@media (max-width: 486px)
    .main
        .column.left, .column.right
            padding: 0 10px
    .entry
        .small, .title, .summary
            margin-right: -5px

@font-face
    font-family: "Route 159"
    font-style: normal
    font-weight: normal
    src: url(/static/route159-regular.woff2) format("woff2")

@font-face
    font-family: "Route 159"
    font-style: normal
    font-weight: bold
    src: url(/static/route159-bold.woff2) format("woff2")
