* { margin: 0; padding: 0; }

html { --col: 390px; --read: 510px; --small: 13px; --regular: 14px; --big: 20px; --d: 0.2s; --hl: yellow; --white: #fff; --whitesmoke: #f0f0f0; --gainsboro: #d0d0d0; --silver: #c0c0c0; --gray: #808080; --darkgray: #404040; --almostblack: #202020; --black: #000; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

@media (prefers-color-scheme: dark) { html { --white: #000; --whitesmoke: #141414; --gainsboro: #282828; --silver: #404040; --gray: #808080; --darkgray: #c0c0c0; --almostblack: #e0e0e0; --black: #fff; } }

body { background-color: var(--gray); color: var(--black); cursor: default; font-family: "Route 159", sans-serif; font-size: var(--regular); line-height: 20px; }

a { color: var(--black); cursor: pointer; text-decoration: none; transition: color var(--d); }

b, i { font-style: normal; font-weight: normal; }

h3 { font-size: var(--regular); font-weight: normal; line-height: 15px; }

h2 { font-size: var(--big); line-height: 25px; }

.main { display: grid; grid-template-columns: calc(50% - var(--col)) var(--col) var(--col) calc(50% - var(--col)); }

.left, .right { min-height: 100vh; }

.side.left { background-color: var(--whitesmoke); }

.side.right { background-color: var(--white); }

.column.left { background-color: var(--whitesmoke); padding-right: 15px; }

.column.right { background-color: var(--white); padding-left: 15px; }

.column h3 { margin-top: 15px; }

.column h3 a { color: var(--gray); }

.column h2 { margin-bottom: 10px; }

.column h2 a { color: var(--black); }

.column .entry { border-bottom: var(--gainsboro) 1px solid; margin-bottom: 9.5px; padding-bottom: 9.5px; }

.column .entry:last-child { border: 0 none; }

.column .small { font-size: var(--small); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.column .summary { color: var(--gray); cursor: text; }

.column .title a { color: var(--black); }

.column .title a:visited { color: var(--darkgray); }

.column .small { color: var(--silver); }

.column .small a { color: var(--gray); }

.column .small .done { color: var(--silver); }

.read { display: grid; grid-template-columns: calc(50% - var(--read) / 2 - 25px) 50px var(--read) calc(50% - var(--read) / 2 - 25px); }

.pane.left { background-color: var(--whitesmoke); }

.pane.left .small { position: sticky; padding: 15px; transform: rotate(180deg); writing-mode: vertical-lr; top: 0; left: 0; }

.pane.left .small a { color: var(--gray); }

.pane.left .small .done { color: var(--silver); }

.pane.right { background-color: var(--white); padding: 0 15px; }

.pane.right h3 { margin-top: 15px; }

.pane.right h3 a { color: var(--gray); }

.pane.right h2 { margin-bottom: 10px; }

.pane.right h2 a { color: var(--black); }

.pane.right .entry { margin: 10px 0; }

.pane.right .entry .small a { color: var(--gray); }

.pane.right .entry .small .done { color: var(--silver); }

.pane.right .text { color: var(--black); cursor: text; }

.pane.right .text p { margin-bottom: 10px; }

.pane.right .text u { background-color: var(--hl); text-decoration: none; }

@media (max-width: 780px) { .main { grid-template-columns: 0 50% 50% 0; } .main .column.left, .main .column.right { padding: 0 5%; } .read { grid-template-columns: 0 40px calc(100% - 40px) 0; } .read .pane.left .small { padding: 15px 10px; } .read .pane.right { padding: 0 4%; } .summary { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: normal; src: url(/static/route159-regular.woff2) format("woff2"); }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: bold; src: url(/static/route159-bold.woff2) format("woff2"); }
