*
    margin: 0
    padding: 0

html
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    --regular: 13.5px
    --big: 19px
    --d: 0.2s
    --hl: yellow
    --white: #fff
    --gray: #808080
    --silver: #c0c0c0
    --gainsboro: #d0d0d0
    --whitesmoke: #f0f0f0
    --black: #000


@media (prefers-color-scheme: dark)
    html
        --hl: darkcyan
        --black: #fff
        --gray: #c0c0c0
        --silver: #808080
        --gainsboro: #404040
        --whitesmoke: #202020
        --white: #000

body
    background-color: var(--white)
    color: var(--black)
    cursor: default
    font-family: "Fira Sans", sans-serif
    font-size: var(--regular)
    line-height: 20px

a
    color: var(--black)
    cursor: pointer
    text-decoration: none
    transition: color var(--d)

b, i
    font-style: normal
    font-weight: normal

.menu, .main, .footer
    margin: 0 auto
    max-width: 480px
    padding: 0 20px

h3
    font-size: var(--regular)
    font-weight: normal
    line-height: 15px
    a
        color: var(--gray)
        &:hover
            color: var(--black)

h2
    font-size: var(--big)
    line-height: 24px
    padding: 3px 0
    width: 95%
    a
        color: var(--silver)
        &:hover
            color: var(--gray)
        &.selected
            color: var(--black)

.menu
    padding-top: 15px
    padding-bottom: 10px

.entry
    margin-bottom: 10px

.title
    a:visited
        color: var(--gray)

.small
    color: var(--silver)
    a
        color: var(--gray)
        &:hover
            color: var(--black)

.summary
    color: var(--gray)
    cursor: text
    a
        color: var(--gray)
        text-decoration: underline

.text
    color: var(--black)
    cursor: text
    margin-bottom: 10px
    a
        text-decoration: underline
    p
        margin-bottom: 10px
        &:last-child
            margin-bottom: 0
    u
        background-color: var(--hl)
        text-decoration: none

.footer
    margin-top: 10px
    margin-bottom: 30px
    a
        color: var(--silver)
        padding: 5px 0
        &:hover
            color: var(--gray)
        &:first-child
            border-bottom: var(--gainsboro) 5px solid
    b
        color: var(--gainsboro)
        padding: 5px 2px

@font-face
    font-family: "Fira Sans"
    font-style: normal
    font-weight: normal
    src: url(/static/firasans-regular.woff2) format("woff2")

@font-face
    font-family: "Fira Sans"
    font-style: normal
    font-weight: bold
    src: url(/static/firasans-bold.woff2) format("woff2")
