* {
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  font-family: "Clear Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: black; }

a {
  color: black;
  text-decoration: none;
  transition: color 0.2s; }

b, i {
  font-style: normal;
  font-weight: normal; }

.menu, .main, .footer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 520px; }

h1 {
  font-size: 22px;
  line-height: 30px;
  overflow: hidden;
  padding: 20px 0; }
  h1 a {
    display: block;
    float: left;
    margin-right: 10px;
    color: silver; }
    h1 a.selected {
      color: black; }

p {
  color: gray; }

.entry {
  padding-bottom: 15px; }

.title {
  font-size: 14px; }
  .title a {
    color: black; }
    .title a:visited {
      color: gray; }

.small {
  overflow: hidden; }
  .small a, .small b {
    color: silver;
    display: block;
    float: left;
    margin-right: 5px; }
    .small a:last-child, .small b:last-child {
      margin-right: 0; }

.summary {
  color: gray; }

.footer {
  overflow: hidden;
  padding-bottom: 30px; }
  .footer a, .footer b {
    color: silver;
    display: block;
    float: left;
    padding: 5px 0;
    margin-right: 5px; }
    .footer a:first-child, .footer b:first-child {
      border-bottom: gainsboro 5px solid; }
    .footer a:last-child, .footer b:last-child {
      margin-right: 0; }

@font-face {
  font-family: "Clear Sans";
  font-style: normal;
  font-weight: normal;
  src: url(clearsans/regular.woff); }
@font-face {
  font-family: "Clear Sans";
  font-style: normal;
  font-weight: bold;
  src: url(clearsans/bold.woff); }
