* { margin: 0; padding: 0; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { background-color: #f0f0f0; color: #000; cursor: default; font-family: "Route 159", sans-serif; font-size: 14px; line-height: 20px; }

a { color: #000; cursor: pointer; text-decoration: none; transition: color 0.2s; }

b, i { font-style: normal; font-weight: normal; }

h3 { font-size: 14px; font-weight: normal; line-height: 15px; }

h2 { font-size: 20px; line-height: 25px; }

.main { display: grid; grid-template-columns: calc(50% - 360px) 360px 360px calc(50% - 360px); }

.main .side.left { background-color: #202020; }

.main .side.right { background-color: #f0f0f0; }

.column.left { background-color: #202020; padding-right: 15px; }

.column.left h3 a { color: #808080; }

.column.left h2 a { color: #fff; }

.column.left .title a { color: #fff; }

.column.left .title a:visited { color: #d0d0d0; }

.column.left .small a { color: #c0c0c0; }

.column.left .small .done { color: #808080; }

.column.left .summary { color: #c0c0c0; }

.column.right { background-color: #f0f0f0; padding-left: 15px; }

.column.right h2 a { color: #000; }

.column.right .title a { color: #000; }

.column.right .title a:visited { color: #404040; }

.column.right .small a { color: #808080; }

.column.right .small .done { color: #c0c0c0; }

.column.right .summary { color: #808080; }

.column h3 { margin-top: 10px; }

.column h2 { margin-bottom: 10px; }

.column .entry { margin-bottom: 10px; }

.column .small { font-size: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.column .summary { cursor: text; }

.read { display: grid; grid-template-columns: calc(50% - 256px) 512px calc(50% - 256px); }

.read .side.left, .read .side.right { background-color: #f0f0f0; }

.center { background-color: #f0f0f0; }

.center h3 { margin-top: 10px; }

.center h3 a { color: #c0c0c0; }

.center h2 { margin-bottom: 10px; }

.center h2 a { color: #000; }

.center .entry { margin: 10px 0; }

.center .entry .small a { color: #808080; }

.center .entry .small .done { color: #c0c0c0; }

.center .text { color: #000; cursor: text; }

.center .text p { margin-bottom: 10px; }

.center .text u { background-color: yellow; text-decoration: none; }

@media (max-width: 720px) { .main { grid-template-columns: 0 50% 50% 0; } .main .column.left, .main .column.right { padding: 0 5%; } .read { grid-template-columns: 0 100% 0; } .read .center { padding: 0 5%; } .summary { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: normal; src: url(/static/route159-regular.woff2) format("woff2"); }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: bold; src: url(/static/route159-bold.woff2) format("woff2"); }
