* { margin: 0; padding: 0; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; --regular: 13.5px; --big: 19px; --d: 0.2s; --hl: yellow; --white: #fff; --gray: #808080; --silver: #c0c0c0; --gainsboro: #d0d0d0; --whitesmoke: #f0f0f0; --black: #000; }

@media (prefers-color-scheme: dark) { html { --hl: darkcyan; --black: #fff; --gray: #c0c0c0; --silver: #808080; --gainsboro: #404040; --whitesmoke: #202020; --white: #000; } }

body { background-color: var(--white); color: var(--black); cursor: default; font-family: "Fira Sans", sans-serif; font-size: var(--regular); line-height: 20px; }

a { color: var(--black); cursor: pointer; text-decoration: none; transition: color var(--d); }

b, i { font-style: normal; font-weight: normal; }

.menu, .main, .footer { margin: 0 auto; max-width: 480px; padding: 0 15px; }

svg { fill: var(--black); }

svg path { fill: var(--white); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0; }

h3 { font-size: var(--regular); font-weight: normal; line-height: 16px; }

h3 a { color: var(--gray); }

h3 a:hover { color: var(--black); }

h2 { font-size: var(--big); line-height: 24px; overflow: hidden; padding: 3px 0; width: 95%; }

h2 a { color: var(--silver); display: block; float: left; margin-right: 15px; }

h2 a:last-child { margin-right: 0; }

h2 a:hover { color: var(--gray); }

h2 a.selected { color: var(--black); }

.menu { padding-top: 15px; padding-bottom: 10px; }

.entry { margin-bottom: 5px; }

.title a:visited { color: var(--gray); }

.small { color: var(--silver); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.small a { color: var(--gray); }

.small a:hover { color: var(--black); }

.small img { border-radius: 8px; float: left; margin: 2px 0; margin-right: 5px; }

.summary { color: var(--gray); cursor: text; }

.summary a { color: var(--gray); text-decoration: underline; }

.text { color: var(--black); cursor: text; }

.text p { padding-bottom: 10px; }

.text u { background-color: var(--hl); text-decoration: none; }

.footer { padding-top: 5px; padding-bottom: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.footer a { color: var(--silver); padding: 5px 0; }

.footer a:hover { color: var(--gray); }

.footer a:first-child { border-bottom: var(--gainsboro) 5px solid; }

.footer b { color: var(--gainsboro); padding: 5px 2px; }

@font-face { font-family: "Fira Sans"; font-style: normal; font-weight: normal; src: url(/static/firasans-regular.woff2) format("woff2"); }

@font-face { font-family: "Fira Sans"; font-style: normal; font-weight: bold; src: url(/static/firasans-bold.woff2) format("woff2"); }
