html { --col: 360px; --read: 500px; --small: 13px; --regular: 14px; --big: 20px; --d: 0.2s; --hl: yellow; --white: #fff; --whitesmoke: #f0f0f0; --gainsboro: #e0e0e0; --silver: #c0c0c0; --gray: #808080; --darkgray: #404040; --almostblack: #202020; --black: #000; }

@media (prefers-color-scheme: dark) { html { --white: #000; --whitesmoke: #141414; --gainsboro: #242424; --silver: #404040; --gray: #808080; --darkgray: #c0c0c0; --almostblack: #e0e0e0; --black: #fff; } }

* { margin: 0; padding: 0; }

body { background-color: var(--white); color: var(--black); cursor: default; font-family: "Route 159", sans-serif; font-size: var(--regular); line-height: 20px; }

a { color: var(--black); cursor: pointer; text-decoration: none; transition: color var(--d); }

b, i { font-style: normal; font-weight: normal; }

sup { line-height: 0; margin-left: 1px; }

h3 { font-size: var(--regular); font-weight: normal; line-height: 15px; }

h2 { font-size: var(--big); line-height: 25px; }

.main { margin: 0 auto; max-width: 520px; }

.main h3 { padding-left: 20px; padding-top: 15px; }

.main h3 a { color: var(--gray); }

.main h2 { padding-left: 20px; padding-bottom: 15px; overflow: hidden; }

.main h2 a { color: var(--silver); display: block; float: left; margin-right: 10px; }

.main h2 a:last-child { margin-right: 0; }

.main h2 a.active { color: var(--black); }

.main .entry { border-bottom: var(--gainsboro) 1px solid; margin-bottom: 10px; padding-bottom: 10px; }

.main .entry:last-child { border-bottom: 0 none; margin-bottom: 10px; padding-bottom: 10px; }

.main .small { color: var(--silver); font-size: var(--small); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.main .small a, .main .small b { color: var(--gray); float: left; margin-right: 5px; }

.main .small a:last-child, .main .small b:last-child { margin-right: 0; }

.main .small a.done, .main .small b { color: var(--silver); }

.main .small sup { font-size: 8px; }

.main .summary { color: var(--gray); cursor: text; }

.main .title a { color: var(--black); }

.main .title a:visited { color: var(--darkgray); }

.main .title, .main .summary, .main .small { padding: 0 20px; }

.main .text { color: var(--black); cursor: text; padding-bottom: 15px; }

.main .text p { padding: 5px 20px; }

.main .text u { background-color: var(--hl); text-decoration: none; }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: normal; src: url(/static/route159/regular.woff2) format("woff2"); }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: bold; src: url(/static/route159/bold.woff2) format("woff2"); }
