<!doctype html>
<html>
<head>
    <title>Newscafe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="Lucian Marin">
    <meta name="description" content="24/7 Breaking News">
    <link rel="apple-touch-icon" type="image/png" href="/static/192.png">
    <link rel="icon" sizes="192x192" type="image/png" href="/static/192.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css?v={{v}}">
</head>
<body>
    <div class="menu">
        <h1>
            <a class="{% if view == 'about' %}selected{% endif %}" href="/about/">
                About
            </a>
            <a class="{% if view == 'home' %}selected{% endif %}" href="/">
                Newscafe
            </a>
        </h1>
    </div>
    <div class="main">
        <div class="entry">
            <h4 class="title">
                How it works?
            </h4>
            <div class="summary">
                Newscafe fetches a bunch of important RSS feeds and ranks the links by number of shares on Facebook. It can be much more with better sources and interesting metadata gathered from different services people use.
            </div>
        </div>
        <div class="entry">
            <h4 class="title">
                Who made it? Why?
            </h4>
            <div class="summary">
                Newscafe is made by <a href="http://lucianmarin.com/">Lucian Marin</a>. It is part of Subcafe platform where the main app is <a href="https://sub.cafe/">Sub</a>, the social network. Newscafe is made for busy people who don't want to spent more than a few minutes getting the most important news of the day.
            </div>
        </div>
        <div class="entry">
            <h4 class="title">
                What's the tech?
            </h4>
            <div class="summary">
                Newscafe is a Flask app. It uses feedparser, requests, rom, Redis and Facebook API. It isn't database driven for good reasons. Instead it uses a buffer for the last 48 hours.
            </div>
        </div>
        <div class="entry">
            <h4 class="title">
                What sites are monitored?
            </h4>
            <div class="summary">
                In alphabetical order: {{ ", ".join(sites) }}.
            </div>
        </div>
        <div class="entry">
            <h4 class="title">
                API Endpoints
            </h4>
            <div class="small">
                <b>/api/0/top/</b>
            </div>
            <div class="summary">
                Top news sorted by number of Facebook shares.
            </div>
            <div class="small">
                <b>/api/0/recent/</b>
            </div>
            <div class="summary">
                Recent news sorted by time they were published.
            </div>
        </div>
    </div>
</body>
</html>
