<!doctype html>
<html lang="en">
<head>
    <title>{{ brand }} / {{ view | capitalize }}</title>
    <meta charset="utf-8">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="Lucian Marin">
    <meta name="description" content="Breaking news on Facebook">
    {% if view == 'read' %}
        <meta name="robots" content="noindex">
    {% endif %}
    <link rel="apple-touch-icon" type="image/png" href="/static/192.png">
    <link rel="icon" sizes="192x192" type="image/png" href="/static/192.png">
    <link rel="manifest" type="application/json" href="/static/manifest.json">
    <link rel="stylesheet" type="text/css" href="/static/style.css?v={{v}}">
    <script type="text/javascript" src="/static/script.js?v={{v}}" async defer></script>
</head>
<body>
    <div class="container">
        <div class="leftside"></div>
        <div class="sidebar"></div>
        <div class="content">
            <div class="menu">
                <a class="logo" href="/">
                    {% include "common/logo.html" %}
                </a>
                {% if view in ['about', 'read'] %}
                    {% include "common/title.html" %}
                {% else %}
                    {% include "common/header.html" %}
                {% endif %}
            </div>
            <div class="main">
                {% block main %}{% endblock %}
            </div>
            <div class="footer">
                <a href="/">EN</a>
                <b>&frasl;</b>
                <a href="/about">About</a>
                <b>&frasl;</b>
                <a href="/about">{{ count }} articles</a>
            </div>
        </div>
        <div class="rightside"></div>
    </div>
</body>
</html>
