<!doctype html>
<html>
<head>
    <title>Newscafe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="Lucian Marin">
    <meta name="description" content="24/7 Breaking News">
    <link rel="apple-touch-icon" type="image/png" href="/static/192.png">
    <link rel="icon" sizes="192x192" type="image/png" href="/static/192.png">
    <link rel="stylesheet" type="text/css" href="/static/style.css?v={{v}}">
</head>
<body>
    <div class="menu">
        <h1>
            <a class="{% if view == 'home' %}selected{% endif %}" href="/">
                Newscafe
            </a>
            <a class="{% if view == 'last' %}selected{% endif %}" href="/recent/">
                Recent
            </a>
        </h1>
    </div>
    <div class="main">
        {% for entry in entries %}
            <div class="entry">
                <h4 class="title">
                    <a target="_blank" href="{{ entry.link }}">{{ entry.title }}</a>
                </h4>
                <div class="small">
                    <b>{{ entry.link | hostname }}</b>
                    <b>&bull;</b>
                    <b>{{ entry.time | shortdate }} ago</b>
                    <b>&bull;</b>
                    <a href="/text/{{entry.id}}/">text</a>
                    {% if entry.shares %}
                        <b>&bull;</b>
                        <b>{{ entry.shares }} shares</b>
                    {% endif %}
                </div>
                {% if entry.description %}
                    <div class="summary">
                        {{ entry.description | truncate(400) }}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="entry">
                <div class="summary">Processing content...</div>
            </div>
        {% endfor %}
    </div>
    <div class="footer">
        <a href="/">Newscafe</a>
        <b>&frasl;</b>
        <a href="/about/">About</a>
        <b>&frasl;</b>
        <b>{{ count }} articles</b>
    </div>
</body>
</html>
